body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.w-100 {
  width: 350px;
  position: relative;
}
.avantajli {
  width: 80px;
  position: absolute;
  top: 10%;
  
}
.cargo {
  position: absolute;
  display: flex;
  top: auto;
  align-items: center;
  background-color: #535353;
  color: white;
  border-radius: 8px;
  width: 100px;
  font-size: 12px;
}
.fa-box {
  margin: 10px;
  font-size: 16px;
}
.fa-heart {
  position: absolute;
  width: 16px;
  top: auto;
  left: auto;
}

.fa-heart:hover {
  color: red;
}

.container {
  display: grid;
  row-gap: 120px;
}
.head {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
div > button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: auto;
  padding: 10px;
  width: 100px;
  border-radius: 6px;
  border: none;
  background-color: #850202;
  color: white;
  font-weight: 600;
}
